body {
  font-family: "Fredoka One", cursive;
}
.weather-app {
  border: 3px solid #146ec5;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 700px;
  padding: 30px 60px 30px 60px;
}
.row {
  align-items: center;
}

ul {
  list-style: none;
}
.cities li {
  display: inline-block;
  font-style: italic;
  font-size: 10px;
  padding: 5px;
}
.current-weather {
  text-align: center;
}
p {
  margin: -20px auto;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 100px;
  color: gold;
}
h1,
h3,
span {
  color: #146ec5;
  text-align: center;
  margin: 0 auto;
}
span {
  font-size: 25px;
}
.description {
  font-size: 20px;
}
a {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
.temperature {
  font-size: 16px;
}
h3 {
  font-size: 13px;
}
div .weather-app {
  padding: 10px 20px 10px 40px;
}
div .day {
  padding: 0 50px;
}
div .weather-icon {
  padding: 0 0 0 40px;
}
