body {
  font-family: "Fredoka One", cursive;
  color: #48484A;
}
.weather-app {
  background: linear-gradient(#beceff, #fdfcc3);
  background-size: cover;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 680px;
  padding: 20px 40px;
}


form {
  padding-left: 15px;
}
.weather {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 0px auto;
  padding-top: 20px;
}

ul {
  list-style: none;
}

.cities li {
  display: inline-block;
  font-style: italic;
  font-size: 10px;
  padding: 5px;
}
.current-weather {
  text-align: center;
}

h1,
h3,
span {
  color: #146ec5;
  text-align: center;
  margin: 0 auto;
}
span {
  font-size: 15px;
}
.description {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
.temperature {
  font-size: 16px;
}
h3 {
  font-size: 13px;
}

div .day {
  padding: 0 50px;
}
div .weather-icon {
  padding: 0 0 0 60px;
}
